/* Global Variable Declaration */
:root {
    --nav-color: white;
    --nav-text-invis-color: white;
    --nav-border-color: white;
    --nav-component-background: black;

    --main-color: white;
    --main-div-color: black;
    --main-border-color: white;

    --card-color: black;
    --card-border-color: white;
    --card-background-color: white;
    --card-gradient-color: linear-gradient(#8a8a8a, #3f4340);

    --playbar-color: white;
    --progress-color: white;
    --playbar-background-color: black;
    --playbar-border-color: white;
}