/* Global Variable Declaration */
:root {
    --nav-color: black;
    --nav-text-invis-color: black;
    --nav-border-color: black;
    --nav-component-background: white;

    --main-color: black;
    --main-div-color: white;
    --main-border-color: black;

    --card-color: black;
    --card-border-color: black;
    --card-background-color: aliceblue;
    --card-gradient-color: linear-gradient(#c0deed, #59b5e3);

    --playbar-color: black;
    --progress-color: black;
    --playbar-background-color: white;
    --playbar-border-color: black;
}