#play-bar {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--playbar-background-color);
    border: 3px solid var(--playbar-border-color);
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#play-bar-txt {
    display: none;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: var(--playbar-color);
    text-align: center;
}

#real-playbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

#real-playbar img {
    width: 75px;
    height: 75px;
    border: 2px solid var(--playbar-border-color);
    border-radius: 20px;
    margin: 20px;
}

#playbar-text-wrap {
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Verdana, sans-serif;
    color: var(--playbar-color);
    text-align: center;
}

#playbar-text-wrap p {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

#controls-wrap {
    width: 500px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contrls-btn {
    width: 500px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contrls-btn button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    margin: 0 10px;
    font-size: 25px;
    color: var(--playbar-color);
}

.progress-bar {
    width: 80%;
    height: 7px;
    background-color: rgba(214, 214, 214, 0.525);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: var(--progress-color);
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    #real-playbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    #real-playbar img {
        display: none;
        width: 0;
        height: 0;
    }
    #playbar-text-wrap {
        display: none;
        width: 0;
        height: 0;
    }
    #controls-wrap {
        margin-left: 0;
    }
}

@media screen and (max-width: 750px) {
    #play-bar {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .progress-bar {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .progress-bar {
        width: 55%;
    }
    #play-bar {
        margin-left: 5%;
    }
}

@media screen and (max-width: 400px) {
    .progress-bar {
        width: 40%;
    }
}