#main-web {
    width: 70%;
    height: 75%;
    background-color: black;
    position: absolute;
    right: 40px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

#mainweb-title {
    font-size: 20px;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/* Top Bar */
#mainweb-topbar {
    margin-top: 65px;
    border: 3px solid white;
    border-radius: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Recommended Slider */
#mainweb-recom {
    height: 350px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 30px;
}

#dev-choice-catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Catalog Lists */
#mainweb-catalogs {
    height: 800px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#mainweb-randcatalog {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 10px;
}

#mainweb-allcatalog {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#mainweb-allcatalog-content {
    width: 100%;
}

/* Screen Resize */
@media screen and (max-width: 750px) {
    #main-web {
        width: 90%;
        right: 5%;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    #main-web {
        height: 60%;
    }
}